.container {
  height: 100vh;
  min-width: 100vw;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(245, 172, 89);
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
