<div class="container">
  <div>
    <h1>
      Countries
    </h1>
    <app-country>
      <h1 class="country">
        INDIA
      </h1>
      <p class="capital">
        Delhi
      </p>
    </app-country>
    <app-country>
      <p class="country">
        ICELAND
      </p>
      <h1 class="capital">
        Reykjavík
      </h1>
    </app-country>
    <app-country>
      <h2 class="country">
        Bhutan
      </h2>
      <i class="capital">
        Thimphu
      </i>
    </app-country>
  </div>
  <div>
    <h1>
      You have selected....
    </h1>
    <h1>{{ selectedContinent }}**</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nobis
      sapiente numquam iusto est fugiat nihil aspernatur nulla sit ad! Est
      recusandae tenetur sint, dolorem eaque rerum debitis dignissimos quos.
    </p>
  </div>
  <div>
    <h1>
      Continet
    </h1>
    <!-- <app-continent [continent]="'AUSTRALIA'"></app-continent>
    <app-continent [continent]="listOfContinents[0]"></app-continent> -->
    <app-continent
      (z)="catchContinent($event)"
      [continent]="continent"
      *ngFor="let continent of listOfContinents"
    ></app-continent>
  </div>
</div>
