<div class="container">
  <button (click)="toggle()">Show/hide</button>
  <p *ngIf="show">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis,
    architecto et molestias hic recusandae eligendi fuga quaerat illo
    reprehenderit id adipisci tenetur doloremque est, vel officiis laudantium
    sint. Dolores!
  </p>
  <h1>Good morning</h1>
  <hr />
  <ul class="tags">
    <li (click)="changeSection(sectionsEnum.Math)">Math</li>
    <li (click)="changeSection(sectionsEnum.Tech)">Tech</li>
    <li (click)="changeSection(sectionsEnum.AI)">AI</li>
    <li (click)="changeSection(sectionsEnum.Sports)">Sports</li>
    <li (click)="changeSection(sectionsEnum.All)">All</li>
  </ul>

  <div [ngSwitch]="currentSection">
    <section *ngSwitchCase="sectionsEnum.Math">
      <h1>
        Math
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
        tempora ab architecto est similique officia nulla sunt voluptates nobis
        maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
      </p>
    </section>
    <section *ngSwitchCase="sectionsEnum.Tech">
      <h1>
        Tech
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
        tempora ab architecto est similique officia nulla sunt voluptates nobis
        maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
      </p>
    </section>
    <section *ngSwitchCase="sectionsEnum.AI">
      <h1>
        AI
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
        tempora ab architecto est similique officia nulla sunt voluptates nobis
        maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
      </p>
    </section>
    <section *ngSwitchCase="sectionsEnum.Sports">
      <h1>
        Sports
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
        tempora ab architecto est similique officia nulla sunt voluptates nobis
        maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
      </p>
    </section>
    <section *ngSwitchDefault>
      <h1>
        All
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
        tempora ab architecto est similique officia nulla sunt voluptates nobis
        maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
      </p>
    </section>
  </div>
  <!-- <section *ngIf="currentSection === sectionsEnum.Math">
    <h1>
      Math
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
      tempora ab architecto est similique officia nulla sunt voluptates nobis
      maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
    </p>
  </section>
  <section *ngIf="currentSection === sectionsEnum.Tech">
    <h1>
      Tech
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
      tempora ab architecto est similique officia nulla sunt voluptates nobis
      maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
    </p>
  </section>
  <section *ngIf="currentSection === sectionsEnum.AI">
    <h1>
      AI
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
      tempora ab architecto est similique officia nulla sunt voluptates nobis
      maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
    </p>
  </section>
  <section *ngIf="currentSection === sectionsEnum.Sports">
    <h1>
      Sports
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
      tempora ab architecto est similique officia nulla sunt voluptates nobis
      maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
    </p>
  </section>
  <section
    *ngIf="currentSection === sectionsEnum.All || currentSection === undefined"
  >
    <h1>
      All
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sequi
      tempora ab architecto est similique officia nulla sunt voluptates nobis
      maxime rem voluptatum odio enim, facilis dicta magnam asperiores cum.
    </p>
  </section> -->

  <button (click)="addBooks()">Add Books</button>
  <button (click)="removeBook()">Remove Books</button>

  <div *ngIf="books.length > 0; then trueBlock; else falseBlock"></div>

  <ng-template #trueBlock>
    <ul>
      <li *ngFor="let book of books">
        <h4>
          {{ book }}
        </h4>
      </li>
    </ul>
  </ng-template>
  <ng-template #falseBlock>
    <div>
      <p>Sorry no books available :(</p>
    </div>
  </ng-template>
</div>
