<h1>
  Reactive ..
</h1>
<!-- <table>
  <tbody>
    <tr>
      <td>
        <input type="text" [formControl]="language" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [formControl]="year" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [formControl]="creator" />
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="print()">LogData</button>
      </td>
    </tr>
  </tbody>
</table> -->
<table [formGroup]="languageForm">
  <tbody>
    <tr>
      <td>
        Name
      </td>
      <td>
        <input type="text" placeholder="name here..." formControlName="name" />
      </td>
    </tr>
    <tr>
      <td>
        Year
      </td>
      <td>
        <input type="text" formControlName="year" />
      </td>
    </tr>
    <ng-container formGroupName="creator">
      <tr>
        <td>
          First name
        </td>
        <td>
          <input type="text" formControlName="firstName" />
        </td>
      </tr>
      <tr>
        <td>
          last name
        </td>
        <td>
          <input type="text" formControlName="lastName" />
        </td>
      </tr>
      <tr>
        <td>
          Age
        </td>
        <td>
          <input type="text" formControlName="age" />
        </td>
      </tr>
      <tr>
        <td>
          Country
        </td>
        <td>
          <input type="text" formControlName="country" />
        </td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
      <td>
        <button (click)="print()">LogData</button>
      </td>
    </tr>
  </tbody>
</table>

<h1>
  {{ languageForm.value | json }}
</h1>
<hr />
<table [formGroup]="studentForm">
  <tr>
    <td>
      Name
    </td>
    <td>
      <input type="text" formControlName="name" />
    </td>
  </tr>
  <tr>
    <td>
      Age
    </td>
    <td>
      <input type="text" formControlName="age" />
    </td>
  </tr>
  <ng-container formGroupName="address">
    <tr>
      <td>
        Country
      </td>
      <td>
        <input type="text" formControlName="country" />
      </td>
    </tr>
    <tr>
      <td>
        State
      </td>
      <td>
        <input type="text" formControlName="state" />
      </td>
    </tr>
  </ng-container>
  <tr>
    <td>
      Add Skills
    </td>
    <td>
      <button (click)="addSkillFC()">+</button>
    </td>
  </tr>
  <ng-container formArrayName="skills">
    <tr *ngFor="let item of studentForm.get('skills').controls; let i = index">
      <td>skill {{ i + 1 }}</td>
      <td>
        <input type="text" [formControlName]="i" />
      </td>
      <td>
        <button (click)="removeSkillFC(i)">-</button>
      </td>
    </tr>
  </ng-container>
  <tr>
    <td></td>
    <td>
      <button (click)="addCourse()">Add Courses</button>
    </td>
  </tr>
  <ng-container formArrayName="courses">
    <tr *ngFor="let item of studentForm.get('courses').controls; let i = index">
      <ng-container [formGroupName]="i">
        <td>course {{ i + 1 }}</td>
        <td>
          <input type="text" placeholder="course name" formControlName="name" />
        </td>
        <td>
          <input type="text" placeholder="course year" formControlName="year" />
        </td>
        <td>
          <input
            type="text"
            placeholder="course marks"
            formControlName="marks"
          />
        </td>
        <td>
          <button (click)="removeCourseFG(i)">X</button>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</table>

<h1>
  {{ studentForm.value | json }}
</h1>
