<h1>
  Reactive ..
</h1>
<!-- <table>
  <tbody>
    <tr>
      <td>
        <input type="text" [formControl]="language" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [formControl]="year" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [formControl]="creator" />
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="print()">LogData</button>
      </td>
    </tr>
  </tbody>
</table> -->
<table [formGroup]="languageForm">
  <tbody>
    <tr>
      <td>
        <input type="text" formControlName="name" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" formControlName="year" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" formControlName="creator" />
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="print()">LogData</button>
      </td>
    </tr>
  </tbody>
</table>

<h1>
  {{ languageForm.value | json }}
</h1>
